body {
    margin: 0;
}

header {}

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15% 30px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}