    ul {
        list-style-type: none;
        margin: 0;
        overflow: hidden;
        background-color: #333;
    }
    
    li {
        float: left;
        list-style: none;
    }
    
    li a {
        padding: 15px;
        text-decoration: none;
    }